html {
  box-sizing: border-box; /*Это свойство определяет границы блока без отступов и границ. */
}

body {
  margin: 0;
  min-height: 100vh; /*Будет всегда растягиваться по высоте на полный размер экрана. */
}